/* style.css */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f1f1f;
    font-family: 'VT323', monospace;
    color: white;
    overflow: hidden;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.score-container, .apples-eaten-container {
    font-size: 24px;
    color: white;
}

.container {
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 100vh;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

#gameCanvas {
    display: block;
    margin: 0 auto;
    background-color: #000;
    border: 2px solid white;
    width: 100%; 
    height: auto; /* Mantiene la proporción */
    max-width: 100%; /* Evita que el canvas se salga de la pantalla */
    max-height: 90vh; /* Limita la altura para que no sea demasiado grande */
}

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
    .score-container, .apples-eaten-container {
        font-size: 18px; /* Reduce el tamaño de la fuente en móviles */
    }

    #gameCanvas {
        max-height: 80vh; /* Ajusta la altura máxima en móviles */
    }
    .header {
        padding: 5px 10px; /* Reduce el padding en móviles */
    }

    .container {
        margin-top: 60px; /* Ajusta el margen superior en móviles */
    }
}